/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
 QLineEdit {
     border: 2px solid gray;
     border-radius: 2px;
     padding: 0 8px;
     color: gray_0_rgb;
     background-color:  gray_240_rgb;
     font: master_font_size;
 }