[Unit]
Description=NX_SERVER Using Conda Environment
After=network.target

[Service]
User=sm-user
Group=acl_prj14g03649_rw
Type=simple
ExecStart=/home/sm-user/miniforge3/envs/pyStxm/bin/python /home/sm-user/srv-unix-home/git_sandbox/pyStxm/nx_server/nx_server.py
WorkingDirectory=/home/sm-user/srv-unix-home/git_sandbox/pyStxm/
Environment=HDF5_USE_FILE_LOCKING=FALSE
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/home/sm-user/srv-unix-home/git_sandbox/pyStxm
Environment=PATH=/home/sm-user/miniforge3/envs/pyStxm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

EnvironmentFile=/home/sm-user/srv-unix-home/git_sandbox/pyStxm/nx_server/nx_server.env

Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
