/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
 QLineEdit {
     border: 2px solid gray;
     border-radius: 2px;
     padding: 0 8px;
     color: gray_0;
     font: 14px;
 }